<div class="p-5">
  <div class="row">
    <div class="col-md-3 p-5">
    </div>
    <div class="col-md-6">
      <table class="table table-striped table-responsive-md btn-table">
        <thead>
          <tr>
            <th>Time Saved</th>
            <th>Stat</th>
            <th>Location</th>
            <th>Time</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let e of history">
            <th>{{ e.time_save }}</th>
            <th >
              <!-- <div class="group" > -->
                <p>{{ e.stat }} &nbsp;</p>
              <!-- </div> -->
            </th>
            <th>{{ e.location }} &nbsp;</th>
            <th>
              <!-- <div class="group" > -->
                {{ e.time }} &nbsp;
              <!-- </div> -->
            </th>
            <td>
              <button class="btn btn-primary">
                <!-- <button
              class="btn btn-primary"
              (click)="moreInfo(report.data.personReported)"
              > -->
                More
              </button>
            </td>
            <td>
              <!-- <button class="btn btn-danger" (click)="deleteReport(report.data)"> -->
              <button class="btn btn-danger">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
