<form [formGroup]="form" (ngSubmit)="onChange(form.value)">
  <div class="form-group">
    <div class="stats">
      <h2>Filters</h2>
      <h3 class="text-indigo-400 text-xl">Stats</h3>
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          formControlName="cases"
          id="cases_checkbox"
        />
        <label for="cases_checkbox">New Cases</label>
      </div>
      <div class="form-check">
        <input
          type="checkbox"
          class="form-check-input"
          formControlName="cumulative_cases"
          id="cumulative_cases_checkbox"
        />
        <label for="cumulative_cases_checkbox">Cumulative Cases</label>
      </div>
      <div class="form-check">
        <input
          type="checkbox"
          class="form-check-input"
          formControlName="deaths"
          id="deaths_checkbox"
        />
        <label for="deaths_checkbox">New Deaths</label>
      </div>
      <div class="form-check">
        <input
          type="checkbox"
          class="form-check-input"
          formControlName="cumulative_deaths"
          id="cumulative_deaths_checkbox"
        />
        <label for="cumulative_deaths_checkbox">Cumulative Deaths</label>
      </div>
      <div class="form-check">
        <input
          type="checkbox"
          class="form-check-input"
          formControlName="recovered"
          id="recovered_checkbox"
        />
        <label for="recovered_checkbox">New Recovered</label>
      </div>
      <div class="form-check">
        <input
          type="checkbox"
          class="form-check-input"
          formControlName="cumulative_recovered"
          id="cumulative_recovered_checkbox"
        />
        <label for="cumulative_recovered_checkbox ">Cumulative Recovered</label>
      </div>
    </div>
    <div class="location">
      <h3 class="text-indigo-400 text-xl">Location</h3>
      <div class="form-check">
        <input
          type="radio"
          class="form-check-input"
          formControlName="location"
          id="canada_checkbox"
          value="canada"
        />
        <label for="canada_checkbox ">Federal</label>
      </div>

      <div class="form-check">
        <input
          type="radio"
          class="form-check-input"
          formControlName="location"
          id="prov_checkbox"
          value="prov"
        />
        <label for="prov_checkbox ">Provincial</label>
      </div>
      <div class="form-check">
        <input
          type="radio"
          class="form-check-input"
          formControlName="location"
          id="hr_checkbox"
          value="hr"
        />
        <label for="hr_checkbox ">Health Regions</label>
      </div>
    </div>
    <div class="dates" style="padding-bottom: 20px">
      <h3 class="text-indigo-400 text-xl">Dates</h3>
      <tr id="startdate">
        <td><label for="startdate">Start Date: </label></td>
        <td>
          <input type="date" formControlName="startdate" id="startdate" />
        </td>
      </tr>
      <tr id="enddate">
        <td><label for="enddate">End Date:</label></td>
        <td>
          <input type="date" formControlName="enddate" id="enddate" />
        </td>
      </tr>
    </div>

    <!-- <input type="submit" class="btn btn-primary btn-block" /> -->
    <button
      class="btn btn-primary btn-block"
      [disabled]="clicked"
      (click)="actionMethod()"
    >
      Apply
    </button>
    <!-- <button class="btn btn-primary btn-block" >Apply</button> -->
  </div>
</form>
<!-- <button class="btn btn-primary btn-block " (click)="saveData()">Save Filter</button> -->
<button
  class="btn btn-primary btn-block"
  [disabled]="clicked2"
  (click)="saveData()"
>
  Save Filter
</button>
