<nav class="navbar navbar-dark bg-dark" >
  <div class="container">
    <span class="navbar-brand">{{ title }}</span>
  </div>
</nav>

<body >

  <div class="p-5" >
    <div class="row">
        <div class="col-md-3 p-5">
          <app-filter
          (onFilterChange) = "updateStats($event)"
        ></app-filter>
        </div>
        <div class="col-md-6">
          <h3>Time Period: {{defaultFilter.startdate}}  {{defaultFilter.enddate}}</h3>
          <app-table
          [dataDefault] = "dataDefault"
          ></app-table>
          <!-- <app-bar-chart
          [defaultFilter] = "defaultFilter"
          [dataDefault] = "dataDefault"
          [dataFederal] = "dataFederal"
          ></app-bar-chart> -->
        </div>
    </div>
  </div>
</body>

